certifi==2024.8.30
charset-normalizer==3.4.0
defusedxml==0.7.1
httpie @ file:///Users/parry84/temp/cli
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.1.0
Pygments==2.18.0
PySocks==1.7.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
setuptools==75.6.0
urllib3==2.2.3
